{% extends 'main.html' %}

{% block content %}

  <div>
    <h1>Register</h1>
    <form method="POST">
      {% csrf_token %}
      <label>Nome:</label> 
      <input type="text" name="name" placeholder="Digite sua nome aqui">

      <label>Email:</label> 
      <input type="text" name="email" placeholder="Digite seu email aqui">
  
      <label>Senha:</label> 
      <input type="text" name="password" placeholder="Digite sua senha aqui">

      <label>Confirme a Senha:</label> 
      <input type="text" name="confirm-password" placeholder="Confirme a senha">
      
      
      <button type="submit">Cadastrar</button>
    </form>


  </div>

{% endblock %}