{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/config.css' %}" />

<div class="bg-container">
    <p class="section-title">Configurações </p>
    <div class="inner-container">
        <p class="section-subtitle">Olá, {{user.username}}!</p>
        
        <p class="select-title">Selecione a periodicidade de checagem</p>
        <form method="POST" action="">
            {% csrf_token %}
           
            <select name="select-time">
                <option value="5min" selected>5 minutos</option>
                <option value="15min">15 minutos</option>
                <option value="30min">30 minutos</option>
                <option value="60min">60 minutos</option>
            </select>
        <p class="select-title">Selecionado: {{request.session.time}}</p>
        <button type="submit" class="login-btn">Salvar</button> 
        </form>
        
    </div>
    
</div>

  

{% endblock %}